[2016-08-28 06:51] CarloscCheng opened #2 "Your demo have a bug"
I have found your demo has a little bug which maybe not important.when I turn 'Outside Touch' Off and turn 'Hide Done Button' On at the same time，your alertView which showed can't close.

[2016-08-28 08:11] pjebs opened #3 "Block version"
Can you make a block version so when you press a button, a block is fired?

[2016-08-28 11:04] nimati commented on #2
Thanks for catching that! This was one of the things I was thinking on how to approach fixing. Best thing that came to mind is to create a safety mechanism such that incase user is locked out of closing the alert (like when you hide the buttons), it will automatically force 'Outside Touch' to be On. Note that it might not show in the Example app that it's on, but if you try it out, it will be on i

[2016-08-28 11:04] #2 closed

[2016-08-28 11:06] nimati commented on #3
Hi pjebs,

That should be doable, I'm gonna look into it soon!
Just to make sure we're on the same page, you're referring to something like this, correct?

[code]

[2016-08-28 12:09] pjebs commented on #3
Yes. See also: https://github.com/ryanmaxwell/RMUniversalAlert

[2016-08-28 12:34] nimati commented on #3
Cool, just put the action block together.
Try it out with the latest commit and let me know if it's good.

[code]

[2016-08-28 12:54] pjebs commented on #3
How can we put block for "Done" button. Other than that looks good.

[2016-08-28 12:55] pjebs commented on #3
I would still prefer the style similar to how the blocks work for RMUniversalAlert however.

[2016-08-28 14:41] nimati commented on #3
Hey, just added it:

[code]

I'll check out RMUniversalAlert and maybe implement how they do it in the future.
Let me know if it's all good for now.

Cheers!

[2016-08-28 21:16] ZKRed01 opened #4 "Simple modification"
Hi,
this is not a issue only a simple comment.
If someone want to use (custom) image without tint color simply change buttonWithType: from UIButtonTypeSystem to UIButtonTypeCustom
See code: **FCAlertView.m**
line 463:
UIButton *alertViewVector = [UIButton buttonWithType:UIButtonTypeCustom];
    alertViewVector.frame = CGRectMake(alertViewContents.frame.size.width/2 - 15.0f,

[2016-08-28 22:24] nimati commented on #4
Hey there,

You brought up a good point. I'm gonna go ahead and add a fix for this in the next commit. Will keep you posted on it.

Cheers!

[2016-08-29 00:09] pjebs opened #5 "Blurry Background"
It would be nice if you can add blurry background using
`https://github.com/ivoleko/ILTranslucentView` for iOS 7 and `UIVisualEffectView` for iOS 8+.

The ILTranslucentView repo has objc and swift code. Unfortunately you won't be add it as a cocoapod dependency since ios7+swift+cocoapods doesn't mix and the guy put the objc files and swift files in same folder so cocoapods gets confused if you try

[2016-08-29 01:11] pjebs opened #6 "maxWidth"
For Portrait iPad, the box is really wide. It looks bad.

[2016-08-29 03:33] #3 closed

[2016-08-29 03:50] nimati commented on #4
Hi,

Just added this to the latest commit, please try it out by simply adding the following line and let me know how it goes! Thanks again for bringing it up!

[code]

[2016-08-29 03:52] nimati commented on #6
Hey,

Thanks for pointing that out! Fully aware that the FCAlertView doesn't work well on iPad or in landscape mode either, as the first version was developed solely for iPhone portrait. These are both up for fixes that will be released soon, as mentioned on README.

Cheers! 👍

[2016-08-29 03:54] nimati commented on #5
Hey @pjebs ,

Thanks for pointing this out as well! This is something I'm looking to do some testing on and release in the next release. Keep me posted if you find any other resources that would be helpful.

Cheers

[2016-08-29 04:02] pjebs commented on #5
I've used that library for a while. works well.

[2016-08-29 04:17] nimati commented on #5
Nice, I'll take a look soon.

[2016-08-30 04:42] pjebs opened #7 "Cocoapods issue"
Cocoapods isn't downloading the latest version with `doneActionBlock` functionality.

I think it is a tag issue in repo.

[2016-08-30 09:42] pjebs opened #8 "nullability annotations"
`- (void)addButton:(NSString *)title withActionBlock:(FCActionBlock)action;
`- (void)doneActionBlock:(FCActionBlock)action;`

Can you add nullability annotations to `action`. Either make it nullable (and handle the case  to prevent it getting put inside dictionary or make it `[NSNull null]`) or make it nonnull.

Currently this causes error in swift (as it would also in Obj-c):

`alert.addButton("O

[2016-08-30 14:29] geogerar opened #9 "Error in index"
Hi,
nice work indeed.
I would like to tell you that there is an error in "clickedButtonIndex:(NSInteger)index buttonTitle:(NSString *)title "
always index is 0 for anyone of the two additional buttons......
Can you please take a look and fix it?
Thank you very much

George

[2016-08-30 14:50] nimati commented on #8
Yep, fixed it in the latest release. Thanks!

[2016-08-30 14:50] #8 closed

[2016-08-30 14:53] nimati commented on #7
Yep, just pushed it in release 1.0.5. Cheers!

[2016-08-30 14:53] #7 closed

[2016-08-30 14:54] nimati commented on #9
Hi,
Thank you @geogerar!
That's strange, I'll look into it and fix it as soon as possible.
Cheers!
Nima

[2016-08-30 17:12] #4 closed

[2016-08-30 17:22] nimati commented on #9
Hi @geogerar,

Can I get the code you're using to generate the FCAlertView? Just so I can see exactly how you're adding the buttons and what you're getting as index. I just tested it using the Example App, I got back the following from 1 and 2 buttons:

[code]

[2016-08-31 11:41] geogerar opened #10 "warning in Xcode"
Hi again,
I got the last commit of your tool and the issue with the index now is working ok!
Thanks a lot.
But now I get the following  warning in Xcode
"/Users/GEOGERAR/Documents/GEOGER IOS7 Apps/ZTEST/TEST/FCAlertView/FCAlertView.h:39:29: Pointer is missing a nullability type specifier (_Nonnull, _Nullable, or _Null_unspecified)"
in FCAlertView.h at delegate
// Delegate
@property (nonatomic, wea

[2016-09-01 04:15] nimati commented on #10
Hi George,

That's great. Yeah that was a mistake on my end, sorry about that, I've released V1.0.6 which fixes this issue.

Cheers!

[2016-09-01 04:15] #10 closed

[2016-09-01 04:17] #9 closed

[2016-09-01 15:27] pjebs commented on #8
I noticed you removed annotations

[2016-09-01 15:42] nimati commented on #8
Yeah, after putting the fix in place, I don't think it's necessary to keep it. You should still be able to pass nil to the withActionBlock and have it add the button, let me know if that works.

[2016-09-01 16:00] nimati commented on #6
Hi @pjebs,

Check the UIFixes branch I just created, it adds a small fix for iPad portrait that should make it look normal now. Let me know if that works, I'm going to add more UI fixes on this branch including landscape, etc.

[2016-09-02 00:34] pjebs opened #11 "Doesn't go on top of keyboard"
In my use case, the FCAlertView does not go on top of the keyboard.
I have a similar component that shows a progress circle that is used in exactly the same circumstance, but that goes on top of the keyboard. This is causing issues because whilst the AlertView is operating, the user can still type stuff in keyboard.

I looked at code:

Your code:

[code]

I looked at other component's code: https:

[2016-09-02 01:02] pjebs commented on #6
Actually I checked out the branch using: `pod 'FCAlertView', :git => 'https://github.com/nimati/FCAlertView.git', :branch => 'UIFixes'` but it's not configured for cocoapods properly, so I couldn't test it it

[2016-09-02 01:06] pjebs commented on #6
I tried it out manually - it works well. Cocoapods simply isn't configured properly.

[2016-09-02 02:34] nimati commented on #11
Haa, interesting. Good catch! I'll look into it and add a fix soon for this, @pjebs.

[2016-09-02 02:45] nimati commented on #6
Yep, the reason is I usually don't release small fixes as a new release, which is what Cocoapods requires as far as I'm aware. With that said, just released 1.0.7 as UIFixes. Enjoy!

[2016-09-02 02:45] #6 closed

[2016-09-02 10:27] chetansrm opened #12 "[!] Unable to find a specification for `FCAlertView`"
When do I install pod it gives this error showing in title

[2016-09-02 13:00] Danielthenew opened #13 "Example for Swift"
First of all nice Example very cool and much detail functions.

Give it this example only in Objective-C or also in Swift?

[2016-09-02 13:25] nimati commented on #12
Hi @chetansrm,

Can you give me more info and also paste in the code you're using so I can look into it?

[2016-09-02 13:32] nimati commented on #13
Hi @Danielthenew,

Thank you! Swift is coming soon! Stay updated with the project and I'll notify you when swift is available.

Cheers!

[2016-09-02 14:28] chetansrm commented on #12
@nimati  I have resolved the problem.Problem was from my end.
  Thanx for attention

[2016-09-02 15:15] nimati commented on #12
Oh ok, no worries! Let me know if you have any other questions.

Enjoy!

[2016-09-02 15:15] #12 closed

[2016-09-02 15:15] neegbeah commented on #13
You can use the bridging header and use it. You need to convert it to Swift if your not familiar with Objective-C. But heres an example:

`var alert = FCAlertView()`
`alert.showAlertInView(self, withTitle: "Alert Title", withSubtitle: "This is your alert's subtitle. Keep it short and concise. ", withCustomImage: nil, withDoneButtonTitle: nil, andButtons: nil);`

[2016-09-02 15:16] nimati commented on #13
Interesting, I'll take a look! Thanks for sharing 😀

[2016-09-02 15:27] Danielthenew commented on #13
Oke Thanks I am looking forward :)
Yeah with header it must function but it´s better when all in swift.

[2016-09-05 06:11] invisible66 opened #14 "It's almost same with SCLAlertView"
Did you edit @dogo's [https://github.com/dogo/SCLAlertView](url) ? I think you add to bottom
Inspired By SCLAlertView

[2016-09-05 06:43] nimati commented on #14
Hey @invisible66,

I'm aware of SCLAlertView as I've used it in a few projects. However, FCAlertView wasn't inspired or edited from it. It's actually been completely designed from scratch for our app at [ShiftRide](http://www.shiftride.com), you can see the original mockups (done in Sketch) here:
<br>
<img width="427" alt="mockup" src="https://cloud.githubusercontent.com/assets/7935593/18239300/59

[2016-09-05 06:43] #14 closed

[2016-09-05 12:54] YioMidd opened #15 "Provide 啊"

[2016-09-05 12:54] #15 closed

[2016-09-05 12:59] YioMidd opened #16 "Provide a UIColor category maybe better"
[code]
[code]
Just a little suggestion...  ha~

[2016-09-05 16:16] nimati commented on #16
Hey,

Just want to make sure I understood you correctly. Are you suggesting creating another class for FlatColors?

[2016-09-06 12:18] ghost commented on #16
yeah!  ha~

[2016-09-07 00:41] pjebs commented on #13
I don't think we need a example project in Swift given how easy it is to use in a swift project (I use it in swift project). The more important question is why wasn't the component itself written in Swift lol

[2016-09-07 18:31] nimati commented on #13
@pjebs you have a point. It wasn't written in Swift simply because I have more experience with Objective-C. However, @k9101 is actually writing the swift version at the moment, so as soon as that's ready, should be good to go!

[2016-09-07 18:32] nimati commented on #16
I see, I'll consider it for future releases. Cheers!

[2016-09-07 18:32] #16 closed

[2016-09-07 21:08] krispenney commented on #13
Hey everyone!

Everything should be about ready to go, just doing finishing off some testing now but feel free to give it try and let me know if you have any suggestions! I tried to make the API similar while also taking advantage of some Swift features (checkout the README). I included my (very basic) example project  if anyone want to check that out (I may port @nimati example to Swift if anyone

[2016-09-08 15:15] ismaiI1 commented on #14
Ok, i got it 👍 :). and FCAlertView looks great.

[2016-09-08 15:34] nimati commented on #14
Cheers! 😀

[2016-09-09 06:40] pjebs commented on #11
any news on this?

[2016-09-09 16:11] nimati commented on #11
Hey, not yet, will update you when it's ready.

[2016-09-09 18:00] nimati commented on #13
Perfect, thanks for the update Kris! @k9101
I'm gonna go ahead and also add a link to your version for people using swift.

Cheers!

[2016-09-09 18:00] #13 closed

[2016-09-09 18:17] krispenney commented on #13
Thanks @nimati, I just merged my project back to master and got rid of my swift branch, so you may want to update your link if you originally linked to the swift branch.

[2016-09-09 19:24] nimati commented on #13
@k9101 just updated it, if you want you can also add this to your README for ease of use:

[code]

At the very top before installation

[2016-09-09 20:26] krispenney commented on #13
@nimati for sure, I added that in.

[2016-09-10 03:29] pjebs commented on #11
https://github.com/AssistoLab/KVNProgress/issues/70

[2016-09-10 16:31] nimati commented on #11
@pjebs I'll be taking a look in the coming days and have a new release to fix it.

[2016-09-12 01:11] pjebs opened #18 "UI Design"
When I pass nil for image and nil for title, the gap between the top of the alertbox and first line of text is quite large.

[2016-09-12 01:15] pjebs commented on #18
My mistake. Didn't pass nil but null string.

[2016-09-12 01:15] #18 closed

[2016-09-12 01:32] nimati commented on #18
Cool, no worries

[2016-09-12 03:53] nimati commented on #11
@pjebs Just released FCAlertView V1.0.8 which should now fix this issue. To present the alert on top of your keyboard, use:

[code]

This method will make the alert appear on top of all other UI elements on the main window of the UIApplication. Let me know if it works for you.

Cheers!

[2016-09-12 04:03] nimati commented on #6
Just wanted to point out that for this fix, use FCAlertView V1.0.7 or V1.0.9+

[2016-09-15 05:48] nimati commented on #11
any updates @pjebs ?

[2016-09-15 06:48] pjebs commented on #11
I'll check it out soon.

[2016-09-16 20:07] #11 closed

[2016-09-18 04:22] pjebs commented on #11
Didn't work.

`showAlertInView` - Fine
`showAlertInWindow` - Fine
`showAlertWithTitle` -Not fine

This attempts to add to the current keyWindow.
If the keyboard is up, it won't work.

What this method should do is **create a new UIWindow**, set it's windowLevel using the trick KVNProgress does. Make this newly created UIWindow as as the keyWindow etc.

If we want the currently implemented function

[2016-09-18 05:29] nimati commented on #11
So you're saying only showAlertWithTitle creates the problem but the other methods for showing works?

[2016-09-18 06:16] pjebs commented on #11
yes

[2016-09-18 06:16] pjebs commented on #11
`showAlertWithTitle` works fine too except when there is a keyboard.

[2016-09-18 06:21] nimati commented on #11
Are you sure? I did test with `showAlertWithTitle` with a keyboard displayed and it worked just fine:

![simulator screen shot sep 18 2016 2 21 10 am](https://cloud.githubusercontent.com/assets/7935593/18613347/9bd4672c-7d46-11e6-95dd-5916451eb238.png)

[2016-09-18 06:34] pjebs commented on #11
That;s interesting. In mine, the keyboard is on top. I'm on iOS9.3

[2016-09-18 06:34] pjebs commented on #11
I assume it must be related to: https://github.com/AssistoLab/KVNProgress/issues/86

In which case your component is fine!

[2016-09-18 06:48] nimati commented on #11
Ha, I see. Well keep me posted if any other issues come up. Cheers! 👍

[2016-09-18 07:14] nimati commented on #5
@pjebs Currently working on this. Will have a release soon for you to test.

[2016-09-18 07:54] pjebs commented on #5
Remember to do your iOS 8 check like this:

[code]

rather than `[UIVisualEffectView class]`

[2016-09-19 01:23] nimati commented on #5
Nice, will add the check.

[2016-09-19 22:02] nimati commented on #5
Not yet ready for release, but if you download the repo with latest commit, you should be able to use the following, you can create the blur background effect. Let me know how it looks and how you feel about it. Once it's finalized, will add it to cocoapods. @pjebs

[code]

[2016-09-19 22:04] nimati commented on #5
Use 271f0a5

[2016-09-20 05:50] pjebs commented on #5
As the code currently is, it won't be iOS 7 compatible which some people require (inc myself).
The `ILTranslucentView` library is MIT licensed so you can add it with your repo. That would make it complete.

[2016-09-21 02:23] pjebs commented on #11
There are some oddities with this.

The source of the issue I raised is related to how the component places itself at the top.
I found that when I stopped using KVNProgress, it worked. Then when I used [CNPPopupController](https://github.com/carsonperrotti/CNPPopupController) It again was behind the keyboard.

Both KVNProgress and CNPPopupController become topmost.

My solution is I can't directly

[2016-09-21 16:08] nimati commented on #11
Hmm Interesting, I'm glad you found the workaround for it, thanks for sharing!

[2016-09-21 16:08] nimati commented on #5
I see, I'll take a look at ILTranslucentView, what's your thought on the blur itself?

[2016-09-23 03:44] guanzhendong opened #19 "button title color"
want to add a property to custom button title color

[2016-09-23 03:55] guanzhendong opened #20 "Fixed width"
now FCAlertView has fixed margin and fixed height
        defaultSpacing = 105.0f;
        defaultHeight = 200.0f;
i want to fix the width and height , can you provide two properties ?

[2016-09-23 04:04] nimati commented on #19
I was gonna do a custom background color as well for this actually, so I'll consider adding both background and title color for custom buttons soon. Thanks for sharing!

[2016-09-23 04:05] nimati commented on #20
I'll look into it for sure. Thanks!

[2016-10-12 02:23] thephatp opened #21 "Blurry Background Not Available in Pod"
Any chance you'll be adding this to the pod soon?

[2016-10-12 05:57] nimati commented on #21
Hi @thephatp,

Thanks for getting in touch. Absolutely! I'll be adding another feature from the list of upcoming features soon, which means it should be out within the next couple of days. I will let you know when it is.

Cheers,
Nima

[2016-10-12 13:30] thephatp commented on #21
Thanks, and I know this isn't the right place, but I need to say it somewhere--this customized alert view is **incredible** both from a design _and_ from a customization perspective. It's exactly what I've been looking for, and I greatly appreciate all of the work you have done!!

[2016-10-13 06:34] nimati commented on #21
@thephatp No worries at all! And I'm very glad to hear that, Thanks for saying it! It's exactly because of developers like you that I put a lot of effort and work into it to make sure it's useful and beautiful 👍 Be sure to stay posted on new libraries as well, and feel free to [email me](mailto:nttahami@gmail.com) any suggestion you have!

[2016-10-14 01:16] nimati commented on #20
Hi @guanzhendong

You can use the latest commit to do what you desired, however please be cautious with changing these values, currently it's been optimized to look best on all iPhone sizes:

[code]

Cheers 💯

[2016-10-14 01:16] #20 closed

[2016-10-14 01:16] nimati commented on #20
Note: this will be included in the next Pod release (in the upcoming days)

[2016-10-15 08:22] nimati commented on #21
@thephatp You can now use CocoaPod version 1.1.2 along with other new features including blur :) Enjoy! README.md has been updated with instructions on how to use them.

[2016-10-15 08:22] #21 closed

[2016-10-15 08:23] nimati commented on #19
Hi @guanzhendong

Just pushed a new release V1.1.2 includes a bunch of new customizations you might enjoy. I haven't forgotten about custom buttons yet, that's the next step and will be released shortly!

Thanks for using FCAlertView 👍

[2016-10-15 08:23] #5 closed

[2016-10-18 06:19] guanzhendong commented on #19
@nimati haha,thank you

[2016-10-18 06:21] guanzhendong commented on #20
@nimati   haha, thank you

[2016-10-18 06:22] nimati commented on #20
No problem @guanzhendong Enjoy!

[2016-10-26 12:14] moneyfreeuse opened #22 "I can't change button tint and background colour."
The following properties I can't set. Please help me. Thanks.

alert.firstButtonTitleColor = [UIColor blueColor];
alert.secondButtonTitleColor = [UIColor blueColor];

alert.firstButtonBackgroundColor = [UIColor whiteColor];
alert.secondButtonBackgroundColor = [UIColor blackColor];

[2016-10-26 15:21] nimati commented on #22
Hi @moneyfreeuse

Are you using Cocoapods?

[2016-10-26 23:29] darranhall opened #23 "Switch UIButton of alert to UIImageView, along with other enhancements."
Hello,

I noticed that FCAlertView uses UIButtons to display images in the circular view. This is bad practice. The code below will be a good implementation, and I am also including a feature to allow for a custom tinted view.

[code]

[code]

[2016-10-27 07:57] hacky12 opened #24 "Long message"
Hello,

I should be setup the long message, but the message appeared very small size

Please help this

Please refer to attached image
Best Regards,
![img_1084](https://cloud.githubusercontent.com/assets/3422920/19759004/db542f70-9c65-11e6-998c-36c2ce92e5c9.PNG)

[2016-10-28 20:45] nimati commented on #24
Hi @hacky12 ,

Thank you for mentioning this, I will create an update in the coming days to fix this issue and
make the alert stretch more vertically.

Cheers,
Nima

[2016-10-30 02:10] nimati commented on #23
Hey Darran,

Thanks for pointing this out. I wasn't aware of tinting UIImages and so I used this method usually. But thanks! I just committed with the update. Will be included in the next Cocoapods update.

[2016-10-30 02:10] #23 closed

[2016-10-30 09:48] nimati commented on #24
Hi there,

Please use the latest release, V1.2.0 for a fix for this issue.
Let me know if it works better now. Don't forget to run `pod update` if you're using Cocoapods.

Thanks for using FCAlertView

[2016-10-30 09:48] #24 closed

[2016-10-30 09:49] nimati commented on #22
Hi @moneyfreeuse

You should be able to update to the latest release and change the button background and title color. Please let me know if there are any further issues.

Cheers 👍

[2016-10-30 09:49] #22 closed

[2016-10-30 09:50] nimati commented on #19
Hi @guanzhendong

Please use the latest release V1.2.0, which includes customization for the button's title color and even background color 👍 Here's the sample code:

[code]

[2016-10-30 09:50] #19 closed

[2016-10-30 14:21] O-mkar opened #25 "Can't create heart rating view in swift"
i was unable to create alert.makeAlertTypeRateHearts()

Value of type 'FCAlertView' has no member 'makeAlertTypeRateHearts'

[2016-10-30 18:11] nimati commented on #25
Hey @O-mkar

Unfortunately right now, features after V1.0.0 aren't available in Swift.
I'll be working on implementing it in the coming days and will let you know
once it's ready.

Cheers,
Nima

[2016-11-01 05:59] hacky12 commented on #24
Awesome!

Thank you so much!

[2016-11-01 18:00] nimati commented on #24
No problem at all!

[2016-11-07 12:49] magnett opened #27 "Missing error message issue"
First of all thank you for this great control. Really love it!
The issue:
I know that the message of the alert should never be nil.
I used FCAlertView to display some error messages coming from a web service. They should never be nil but i forgot to validate them. What came up is in the screenshot below.
I think that you should never ever show something like this to a user. It's 100 times better t

[2016-11-07 16:04] nimati commented on #27
Hi @magnett,

Thank you for bringing this to my attention. This was actually one of the first
checks I put in place, mostly for development purposes, as you are absolutely
right, the user should not see that since that wouldn't make sense to them at all.

I went ahead and removed that text so empty subtitles are allowed now, however, in
place I've put a warning that will be NSLogged so at least th

[2016-11-07 16:04] #27 closed

[2016-11-10 21:38] dilizarov opened #28 "Feature: Custom image scale?"
I actually sort of have this in my fork already, but I think this library is pretty great and can be expanded even further. One small thing would be for someone to define the scale of the image within the white background.

Some images just look better if they were a bit bigger.

for instance, by default we have:

[code]

We could maybe do something like:

[code]

The scale would ideally be a numb

[2016-11-13 06:25] nimati commented on #28
Hi there,

Thank you for suggesting this, I can see how it could be useful for some developers.
I've implemented your method in FCAlertView V1.2.6. You can update and enjoy the release. Here's how it works:

[code]

Thanks for using FCAlertView! Also, if you'd like to contribute and update the Swift version of FCAlertView, please let me know.

Cheers,
Nima

[2016-11-13 06:25] #28 closed

[2016-11-13 12:39] pjebs opened #29 "FCAlertView Warning: Your Alert should have a title and/or subtitle."
I have a `subtitle` but no `title`.
It logs: `FCAlertView Warning: Your Alert should have a title and/or subtitle.` incorrectly.

[2016-11-13 18:48] nimati commented on #29
Great catch @pjebs!
It was due to an unnecessary check of customizations before they were set. I've fixed this in [Release 1.2.7](https://github.com/nimati/FCAlertView/releases/tag/1.2.7)

Cheers 👍

[2016-11-13 18:48] #29 closed

[2016-11-18 05:26] iamluckykim opened #30 "Adding of custom view to alert"
Hi!

First of all, thank you for that great library.
Please, tell me, how can I add custom view to alert such as UIProgressView and others?

When I adding my custom view as a subview to FCAlertView object it's added to alertBackground, but I want to add it to alert, below title and above buttons. How can I make this?

Thank you.

[2016-11-19 06:02] nimati commented on #30
Hi @iamluckykim

Thank you so much for using FCAlertView.
At this point, adding extra UIView to the FCAlertView would not be supported and/or recommended.
This is to keep the alert simple and within the base guidelines. As an example, framing of different items could become an issue the more you could add to it. If anything changes in the future, however, I will let you know.

Thanks again!

[2016-11-19 06:02] #30 closed

[2016-11-23 08:40] buetforasif opened #31 "Landscape issue"
Please add support for apps in landscape orientation.

[2016-11-23 08:41] nimati commented on #31
Are you using the latest release? Landscape orientation should work, unless your app is using both portrait and landscape. In that case, there might be slight framing issues.

[2016-11-23 08:50] buetforasif commented on #31
Hi,
Yes, I am using the latest release. The app is landscape-only.
I am sharing a screenshot from iPhone5 device --> http://imgur.com/a/Tyr5u

[2016-11-23 08:53] nimati commented on #31
Interesting, so the issue is that it's not in the center, correct?

[2016-11-23 08:53] buetforasif commented on #31
yes, not centered.

[2016-11-23 08:54] nimati commented on #31
Right, it also seems a little too wide compared to the frames I assigned it. Let me take a look at it and will let you know, hopefully within the next 24 hours or so. Thanks for pointing this out by the way!

[2016-11-28 20:22] nimati commented on #31
Hi @buetforasif

I took a closer look and tried to re-create your alert, however I couldn't see the issue. It would centre everything right as you can see: http://imgur.com/a/SRoHi

Can you send me the code you're using to generate the alert and all the customizations involved?

[2016-12-05 14:02] CivicFan opened #32 "Can't Add Multiple UITextFields"
Hi,
first of all thank you for this great job.
Coming to the issue, I can't understand why from outside the library seems like multiple textfield are managed, but inside the code this is not done. Is it something that you're going to manage?

Davide

[2016-12-06 10:15] nimati commented on #32
Hi there,
Thank you for using FCAlertView! Great issue you brought up. The answer is yes... textfields was one of the features I implemented for easy access to 1 fields for most use cases, however, in the future I'm planning to allow multiple textfields to be added. (maybe up to 2-3 fields at most). I will keep the issue open and keep you posted when this is ready. Cheers! 👍

[2016-12-07 22:06] DrBeak1 opened #33 "Alert is dismissed on UIKeyboard hide"
When keyboard is dismissed (textField.resignFirstResponder) the alert is auto-dismissed.

UIViewController is setup to monitor uikeyboard show/hide. I'm animating a button up/down to follow top of uikeyboard using nslayoutconstraint, whose animation requires view.setNeedsLayout and then view.layoutIfNeeded -- maybe that is causing this?

Issue is resolved if I use `[alert showAlertInWindow: ...]`

[2016-12-08 21:18] nimati commented on #33
Hi @DrBeak1

Hmm interesting. Thanks for bringing this up... I've noticed other functions to present the alert (rather than ```[alert showAlertInWindow: ...]```) and the keyboard sometimes does strange stuff. Please continue to use showAlertInWindow for your case. Let me know if there's anything else and thanks for using FCAlertView!

Cheers,
Nima

[2016-12-08 21:18] #33 closed

[2016-12-08 21:18] #31 closed

[2016-12-10 15:14] mradzinski commented on #24
Hey @nimati, I'm having an issue similar to this where a long message gets truncated regardless of the height of the alert view. Is there a way to make the label fit the message without truncating it?

<img width="231" alt="captura de pantalla 2016-12-10 a las 12 12 14" src="https://cloud.githubusercontent.com/assets/4214209/21074214/22ff61ee-bed2-11e6-94d7-362b4250dd5c.png">

I'm using the latest

[2016-12-10 15:27] mradzinski commented on #24
@nimati Just saw you are limiting the max number of lines to 6

https://github.com/nimati/FCAlertView/blob/master/FCAlertView/Classes/FCAlertView.m#L357

Any reason for this or is just because it was not expected to have a long message? I do believe that if it's possible to control the height of the alert view via customHeight property then the maximum amount of lines shouldn't be a concern (If th

[2016-12-10 17:20] mradzinski opened #34 "Delegate not working in Swift"
For some reason, it seems that the FCAlertViewDelegate causes issues in Swift. Although FCAlertView class is imported and recognized, as soon as I try implementing the delegate (or inherit from it) Swift reports that the class FCAlertView is not defined anymore, which makes little sense because FCAlertViewDelegate (which is part of the same class) is properly recognized.

<img width="748" alt="cap

[2016-12-10 21:36] nimati commented on #34
Hi @mradzinski

Intersting, I'll look into it, just wondering, are you using the [Swift version of FCAlertView](https://github.com/k9101/FCAlertView)?

[2016-12-10 22:06] mradzinski commented on #34
@nimati Not really, I'm not sure if the Swift version supports Swift 2.2 (yes, we are still stuck with it). Also, we have strict guidelines regarding libraries which are not part of CocoaPods or have no pod-way to install. The Swift version still lacks pod support, so I'm not able to use it.

[2016-12-10 22:23] nimati commented on #24
Hi @mradzinski

This is actually a big issue, originally FCAlertView was created to present a maximum of 6 lines, however, as I've got to use it in my own apps and see other people use it, I've seen that 6 lines is not that much. So what I've done is that I've removed the number of lines restrictions and instead adjust the frame of the descriptionLabel to match your text. Please try it out using V

[2016-12-10 22:26] nimati commented on #34
@mradzinski interesting, the Swift version was contributed by one of FCAlertView's users actually, we're working together to hopefully improve the Swift version in the near future. So right now you're using the Objective-C written version to generate your alert? And the issue is with the delegate functions?

[2016-12-10 23:31] mradzinski commented on #34
Yes @nimati, I'm using the Obj-c version and the issue happens every time I try implementing the FCAlertViewDelegate protocol. If I delete the protocol from my class FCAlertView gets instantly recognized as a valid class, but if I implement FCAlertViewDelegate then FCAlertView fails to be recognized.

[2016-12-11 20:20] nimati commented on #34
Interesting, I'm gonna look into it. In the meantime please send me the screenshot from all the code involved including the bridging header so I can recreate the situation. Cheers! 👍

[2016-12-24 06:48] rjpalermo1 opened #35 "Dark theme with textfield textcolor = white"
Hi - just stumbled upon this and running it through some tests and so far love it!  Very good job.

I'm not a good dev can get by - but not good enough to pull, figure out and fix.  So if you don't mind I'll just make some suggestion here as I go along and see if they make sense to you.

I like your dark theme - good thinking there.  I'm trying a textfield in it and the text is black so it is hard

[2016-12-24 07:10] rjpalermo1 opened #36 "Set background Opacity"
How about a setting to control the background opacity?   Maybe also background color but I'd like to make the background a bit darker.

[2016-12-28 17:06] GameDevMex opened #37 "Not working dismiss"
Whenever I dismiss the FCAlertView, it never appears again.

[2016-12-29 06:48] nimati commented on #37
@GameDevMex
Hi there,
Can I see the code and the methods you're using to present and dismiss the alert with?

[2016-12-29 06:49] nimati commented on #36
Hi @rjpalermo1

Thank you for the suggestion! I'm not fully sure if the opacity is the best idea for a customization (complication of the whole design might occur) but I will look into changing background color to a custom one and let you know.

[2016-12-29 06:50] nimati commented on #35
@rjpalermo1

Good catch! I will fix this ASAP and let you know once it's fixed.

[2017-01-04 11:01] shoaibhussan opened #39 "Simulator issue"
I am unable to run this code on Simulator and it worked on device,
please tell me what should i change in it for Simulator.
<img width="926" alt="screen shot 2017-01-04 at 4 00 16 pm" src="https://cloud.githubusercontent.com/assets/2375979/21640381/062b9fdc-d297-11e6-99c8-a46ed1c0e592.png">

[2017-01-05 16:13] Jan-M-B opened #40 "BounceAnimations = False --> Dismissed event not called"
Hi,

when BounceAnimations is set to False and you use In and Out Animations, the Dismissed event is not called.

Jan

[2017-01-06 07:06] nimati commented on #39
Hi Shoaib,

Thank you for using FCAlertView. Hmm.. that's strange. Could you please copy and paste the code you're using to present the alert? I can try to go through it and see if the problem is with that or your Xcode/device. I've tried using the Simulator and it works fine on my end.

Cheers! 👍

[2017-01-06 07:08] nimati commented on #37
@GameDevMex Hey there, are you possibly using any animations? If you let me know all the customizations you're using and the code, I might be able to help. Cheers 👍

[2017-01-06 07:58] nimati commented on #40
Hi @Jan-M-B,

Thank you for using FCAlertView and thanks for bringing this to my attention. This is now fixed in V1.2.9. Please try it out and let me know if everything's working. Cheers 👍

[2017-01-06 07:58] #40 closed

[2017-01-06 08:01] nimati commented on #36
Hi @rjpalermo1

I've added a feature to set a custom background color for the FCAlertView in V1.2.9. Please try it out and let me know if everything's working. Here is the code to apply the change:
just the background color setting:
[code]
Or with opacity changes:
[code]

Cheers 👍

[2017-01-06 08:01] #36 closed

[2017-01-06 08:02] nimati commented on #35
Hi @rjpalermo1,

Thanks again for bringing this to my attention. I've added a fix for this in V1.2.9. Cheers 👍

[2017-01-06 08:02] #35 closed

[2017-01-08 14:30] FouadRaheb opened #41 "Changing textfield properties"
It would be useful to be able to set a default value for the textfield as well as changing other properties.

My Current workaround is updating the properties after a delay.

        DISPATCH_AFTER(0.2, {
                alert.textField.autocapitalizationType = UITextAutocapitalizationTypeNone;
                alert.textField.text = text;
        });

[2017-01-09 01:11] nimati commented on #41
Huh interesting workaround. Thanks for bringing this up @FouadRaheb, will look into adding this into the next release.

[2017-01-12 13:46] Mar-k opened #42 "Alert not showing"
I am using the latest pod version of FCAlertView

The alert view is not showing for me, the first few times.

This is the code I use to show the FCAlertView (Method 1):
`let alert = FCAlertView()
        alert.makeAlertTypeWarning()
        alert.blurBackground = true
        alert.showAlert(withTitle: nil, withSubtitle: withText.localized, withCustomImage: nil, withDoneButtonTitle: nil, andButton

[2017-01-12 13:46] Mar-k commented on #42
@nimati

[2017-01-13 03:34] rjpalermo1 commented on #36
Thank you - I'll update tomorrow and let you know if I run into any
problems!

One quick question - I can add buttons, delegate and run my methods to
added buttons no problem.

If I add only a single button and the DONE button both buttons are side by
side.
If I add 2 buttons and the DONE button = nil, the 2 buttons I add are side
by side
If I add a DONE button, add 2 buttons and alert.hideButton

[2017-01-13 15:23] Mar-k commented on #42
I made such a stupid mistake. Sorry for the hassle. I was calling the second method from a seperate class and not directly on a viewcontroller. Then I noticed that there was also this method:

`alert.showAlert(inView: <#T##UIViewController!#>, withTitle: <#T##String!#>, withSubtitle: <#T##String!#>, withCustomImage: <#T##UIImage!#>, withDoneButtonTitle: <#T##String!#>, andButtons: <#T##[Any]!#>)`

[2017-01-13 15:23] #42 closed

[2017-01-18 18:46] nimati commented on #42
@Mar-k No worries, and no hassle at all! Glad you got it solved :)

[2017-01-18 18:54] nimati commented on #36
@rjpalermo1

No worries, sure thing!
And that's an interesting one, right now only 3 buttons would stack full width.

Cheers!

[2017-01-18 18:55] #39 closed

[2017-01-18 18:55] #37 closed

[2017-01-18 18:57] #25 closed

[2017-01-18 18:57] #34 closed

[2017-02-20 11:12] Bejil opened #44 "Rotation size and origin"
I have a problem rotating my device with an alert added to the window.
The alert is no longer centered and the background view is no longer the right size.
Same with keyboard opened when having a textField.

[2017-02-21 01:25] nimati commented on #44
Hi @Bejil, Thanks for using FCAlertView and for pointing out this issue. I will look into it and let you know once it's fixed.

[2017-02-21 08:03] Bejil commented on #44
A dirty fix would be to handle device rotation notifications and keyboard notifications.
I don't know if it covers all cases, but for me it works for rotation with and without keyboard displayed.

    [[UIDevice currentDevice] beginGeneratingDeviceOrientationNotifications];
    [[NSNotificationCenter defaultCenter] addObserver:self selector:@selector(detectOrientation) name:UIDeviceOrientationDidC

[2017-02-25 10:53] jethvatilak opened #45 "Change Font of Title and SubTitle"
Hello, I am not found titleFont and subtitleFont properties of alert. How can I change font of Title and Subtitle?

[2017-02-25 17:03] nimati commented on #45
Hi there, are you using the latest version of FCAlertView? [V1.3.1](https://github.com/nimati/FCAlertView/releases/tag/1.3.1)

[2017-02-28 23:23] nimati commented on #44
Interesting workaround @Bejil!

[2017-03-02 05:43] tilakjethva commented on #45
Ohhh Sorry, @nimati  I have used old version. Now, I have updated it pod 'FCAlertView', '~> 1.3' works fine.
Thank you so much. 👍

[2017-03-02 05:43] #45 closed

[2017-03-13 09:34] CKzu opened #46 "TextField & multiple buttons"
Hi and first of all thanks for the great job!

I have a small issue with textfields on my alert view.

Basically what I'm displaying is an alert view with a text field and two buttons : `OK` and `Cancel`.
My issue here is that the return block in `alert.addTextField(withPlaceholder:_, andTextReturn:_)` doesn't tell me which button was pressed, and the delegate seems to be called before the return

[2017-03-14 08:41] abuharsky opened #47 "Add Carthage support"
https://github.com/Carthage/Carthage

[2017-03-16 06:03] abavafa opened #48 "Custom font for buttons"
Hi there , excellent work.
As a suggestion it would be great if you add font customization capability to the button.

[2017-03-23 17:51] nimati commented on #48
Hi Ali, Thank you for using FCAlertView. I'll definitely take a look into this and let you know.

[2017-03-23 17:52] nimati commented on #47
Thanks! Will look into it soon!

[2017-03-23 17:52] nimati commented on #46
Hi @CKzu Thank you! I'm aware there's an issue there, I'll look into it and let you know.

[2017-03-23 20:19] bavafaali commented on #48
Hi Nima, thanks for your attention.

[2017-04-12 11:55] rolandtolnay commented on #44
@nimati  Any updates on this feature? Would be a great addition to an otherwise polished and very simple control!

[2017-04-15 13:22] rahulvyas opened #49 "Support for UITextView"
Can you add support for UITextView ?

[2017-04-23 05:43] andres9394 opened #50 "FCAlertView close on touch outside when should not."
Hi, this is my code but first a short explanation:
The alert view dismiss on outside touch no matter if I setting "NO" and I need the alert view to dismiss just when the background task have done! I guess this is a mistake in the alertView because the alert view dismiss when should not. Sorry for the english, I hope you can fix it, thank you and have a nice day.

`[alert setDismissOnOutsideTouch:N

[2017-05-01 12:43] ruchiteasternts17Dec opened #51 "Can we add multiple textfield with FCAlertview ???"

[2017-05-03 03:35] nimati commented on #50
Hi @andres9394

Thank you for using FCAlertView. I ran your code through my example app and it seems to be working fine. Is the issue that when the user touches OUTSIDE of the alert box, it dismisses? Would like it not dismiss at all even I press the buttons? Also, if you are adding any other customizations to the FCAlertView, please paste the code here so I can take a closer look.

[2017-05-03 03:40] nimati commented on #44
Hi there, this feature is under dev and should be released soon!

[2017-05-03 05:22] nimati commented on #32
Sorry for the delay, this feature is now in development!

[2017-05-03 05:22] nimati commented on #51
Sorry for the delay, this feature is now in development!

[2017-05-03 06:26] nimati commented on #49
Hi there, I'll look into it.

[2017-05-03 06:26] nimati commented on #41
This is now under dev. Sorry for the wait.

[2017-05-03 09:40] ipefixe opened #52 "Title on two lines"
Hi,

This is a proposal to improve this succulent framework!

It would be nice that we can have a title on two lines when it's needed. In my natural language, some words are long, and on iPhone, it's very fast to have something like:

Instead of:

Thank you!

[2017-05-03 14:22] cateatercode opened #53 "Detect interface orientation NOT device orientation"
Thank you for creating this nice control.

Please change device orientation to interface orientation to reflect the current app orientation and not the device. The device may lay down flat on a table but the interface orientation will always be either landscape or portrait.

Thanks.

Line 337
change
if (UIDeviceOrientationIsLandscape([UIDevice currentDevice].orientation))
to
if(UIInterfaceOrientat

[2017-05-03 15:19] cateatercode opened #54 "Use keyWindows instead of windows.lastObject"
The last object may not be visible on the screen. I.e. keyboard controls. Its better to use the keyWindow here.

Line 1174
Use
UIWindow* window = [[UIApplication sharedApplication] keyWindow];
instead of
UIWindow *window = [UIApplication sharedApplication].windows.lastObject;

[2017-05-14 05:03] alihasanzaade opened #55 "How to change button bg color on press?"
How to change button background color for press state?

[2017-05-17 06:21] aamir-nazir opened #56 "Can we have support for adding custom UITextField?"
This saves doing additional work which is being already done for custom UITextField.

[2017-05-24 04:18] nimati commented on #56
Hi there, being worked on atm. Cheers!

[2017-05-26 06:20] chienplee opened #57 "Alert type progress with completion block"
Hi,
Thanks for the great library. Just one question:

With the alert type set to progress, can we have a completion block included with this type?
What I want to do is when a button is clicked, display the alertview with type progress telling user that I am connecting to a database, after getting response from database, the alert view hides or make alert type success, but I don't want to display b

[2017-05-27 00:47] nimati commented on #57
Hi,
Thanks for using FCAlertView!

To make everything simple, here's what you could do in your situation. When you get a response from the database, dismiss the alert with the following line:

[code]

And then you can present another alert at the same time that is of Success type, this is optional. But if you do decide to do this, you can also attach a timer to it to have it automatically go away.

[2017-05-28 06:32] chienplee commented on #57
Thanks.

[2017-05-28 06:32] #57 closed

[2017-05-31 09:23] Th3nion commented on #52
Hello,
I have the same problem, titles too long are truncated with "..."
Do you have found any trick to resolve it ?

Thanks

[2017-06-04 02:34] goodstechinc commented on #50
Has this issue been resolved?

[2017-06-05 04:19] andres9394 commented on #50
Sorry. No, this issue has not been resolved. What I want is that when I touched outside of the alert box, it no not dismisses. The alert box should dismiss only if I touch the cancel button.

[2017-06-06 15:47] nimati commented on #50
@andres9394 I took a second look at your code, I think what's happening is that there's no button in your alert and there is no timer set to dismiss it. This automatically triggers ```[alert setDismissOnOutsideTouch:YES];``` However, in the next version, you'll be able to bypass it.

[2017-06-13 02:54] apwelsh opened #58 "How to import with frameworks?"
I have tried #import "FCAlertView.h" #import <FCAlertView/FCAlertView.h> @import FCAlertView.   No go for any combination of imports.  I installed this into my Xcode 8 project using cocoa pods, and by pod file has use frameworks turned on.

I don't know if this is new in the latest Xcode (8.3.3) or if there is something in the support for frameworks.  All my other pods have worked fine, but I cann

[2017-06-13 03:58] apwelsh commented on #58
Never mind.  I updated gem, and cocoa pods, then rebuilt the project, and now the import is working using #import <FCAlertView/FCAlertView.h> and as @import FCAlertView;  Looks like it was relate to the Xcode update.

[2017-06-13 03:58] #58 closed

[2017-06-17 22:01] nimati commented on #52
Hi there, thanks for bringing this to my attention. I will look into adding a way for 2 line titles in the next update. Cheers!

[2017-06-20 01:48] noname004 opened #59 "Why button can't set font"
how set button font?

[2017-07-19 14:51] ripventura opened #60 "UI Freeze after SFSafariServices dismisses"
Hi,
I may have found a pretty nasty bug.

How to reproduce:
1- Present a SFSafariServices with any URL
2- Dismiss de SFSafariServices modal by clicking "Done"
3- Hit a button that displays an alert

Expected result:
The alert should appear on screen

Current result:
The screen freezes and only accepts taps again after rotating the device to another orientation.

[2017-07-20 16:37] irshadpc opened #61 "Not showing on beta versions."
I tried to use this controller in beta devices and my experiences were very bad. Most of the time alert not showing in beta iOS versions some times it may not work in iOS 10.3 and later versions.

[2017-07-24 17:16] JamesNMartin opened #62 "Cannot get more than two buttons to appear"
[code]

Using this snippet to add 4 buttons. Only showing button 1, button 2, and OK.

[2017-08-01 08:37] bayfatih2000 commented on #51
I am waiting it. Please add it.
Thanks

[2017-08-01 15:08] nimati commented on #51
Hi @bayfatih2000 This feature will be released in the next update (within the next week) Thanks for your patience!

[2017-08-07 02:17] nimati commented on #32
@CivicFan

This feature has been added to FCAlertView V1.4.0. Please update and try it by adding multiple ones like such: Thanks for using FCAlertView!

[code]

[2017-08-07 02:17] #32 closed

[2017-08-07 02:19] nimati commented on #41
@FouadRaheb

This feature has been added to FCAlertView V1.4.0. Please update and try it by replacing your TextField alert using this:

[code]

Thanks for using FCAlertView!

[2017-08-07 02:19] #41 closed

[2017-08-07 02:20] nimati commented on #44
Hi there, FCAlertView has been updated with some new features. This one is still on the radar for next release as it is a bit more trickier. Please feel free to contribute to the library if you've found a solution for it. Thanks!

[2017-08-07 02:21] nimati commented on #46
Hi @CKzu

The delegate has been changed to return text field before the button press now. Please try the new FCAlertView Release V1.4.0. and let me know if there's still an issue with this.

Thanks for using FCAlertView!

[2017-08-07 02:21] #46 closed

[2017-08-07 02:22] nimati commented on #48
This feature has been added to FCAlertView V1.4.0. Please update and try it by adding these as desired:

[code]

Thanks for using FCAlertView!

[2017-08-07 02:22] #48 closed

[2017-08-07 02:24] nimati commented on #50
This has been added to FCAlertView V1.4.0. Please try adding this to override the forced close:

[code]

Thanks for using FCAlertView!

[2017-08-07 02:24] #50 closed

[2017-08-07 02:25] nimati commented on #51
Yes! You finally can add multiple textfields. This feature has been added to FCAlertView V1.4.0. Please update and try it by adding multiple ones like such:

[code]

Thanks for using FCAlertView!

[2017-08-07 02:25] #51 closed

[2017-08-07 02:26] nimati commented on #52
Hi there,

This has now been fixed in V1.4.0. Try it and let me know if it's good.

Thanks for using FCAlertView! 😄

[2017-08-07 02:26] #52 closed

[2017-08-07 02:26] nimati commented on #53
Hi there,

Thanks for pointing this out. This has now been fixed in V1.4.0. Try it and let me know if it's good.

Thanks for using FCAlertView 😄

[2017-08-07 02:26] #53 closed

[2017-08-07 02:27] nimati commented on #54
Thanks again for pointing this out too. This has now been fixed in V1.4.0. Try it and let me know if it's good.

Thanks for using FCAlertView 😄

[2017-08-07 02:27] #54 closed

[2017-08-07 02:28] nimati commented on #55
Hi there,

This feature has been added to FCAlertView V1.4.0. Try it by adding these as desired to your buttons:

[code]

Thanks for using FCAlertView 😄

[2017-08-07 02:28] #55 closed

[2017-08-07 02:28] nimati commented on #59
This feature has been added to FCAlertView V1.4.0. Please update and try it by adding these as desired:

[code]

Thanks for using FCAlertView! 😄

[2017-08-07 02:28] #59 closed

[2017-08-07 02:30] nimati commented on #56
Yes! Now you can! 😃 This feature has been added to FCAlertView V1.4.0. Please update and try it by replacing your TextField alert using this:

[code]

Thanks for using FCAlertView! 😄

[2017-08-07 02:30] #56 closed

[2017-08-07 02:31] nimati commented on #60
Hi there,

There was a small bug fix in V1.4.0. that may have solved this issue. Please try updating your FCAlertView and let me know if this issue still persists.

Cheers,
Nima

[2017-08-07 02:31] nimati commented on #61
Hi @irshadpc

Thanks for the heads up. Can you provide me more information and possibly screenshots or code snippets behind this? It'd be much appreciated.

Cheers,
Nima

[2017-08-07 02:34] nimati commented on #62
Hi @JamesNMartin

Unfortunately, this is the structure of FCAlertView at the moment (design-wise). The maximum buttons you can have is 2 (3 including the done button). One alternative is to use ```alert.hideDoneButton = 1``` and add 3 buttons as desired. Let me know if this will be a big issue and I'll consider a redesign to fit more buttons in the future.

Thanks for using FCAlertView! 😄

[2017-08-07 02:34] #62 closed

[2017-08-07 04:35] marcelosantoro commented on #51
How can i do it in Swift ??? Can you show me syntax ?

[2017-08-07 08:53] nimati commented on #51
Try this: (you can add up to 4 fields max)

[code]

[2017-08-08 01:52] marcelosantoro commented on #51
@nimati Perfect man... it worked ... awesome !!! Thank you very much !!!

[2017-08-08 01:53] nimati commented on #51
No problem!! Thanks for using FCAlertView 👍 😃 @marcelosantoro

[2017-08-09 14:45] ripventura commented on #60
Thanks @nimati!
I'll let you know if the issue persists after updating...

Regards,
Vitor Cesco

[2017-08-10 03:04] nimati commented on #60
Sounds good, @ripventura 👍

[2017-08-28 05:34] irshadpc commented on #61
@nimati I found a workaround for this.
`- (void) showAlertInView:(UIViewController *)view withTitle:(NSString *)title withSubtitle:(NSString *)subTitle withCustomImage:(UIImage *)image withDoneButtonTitle:(NSString *)done andButtons:(NSArray *)buttons {}`
Only the above method is working in iOS 10 beta and iOS 11 beta. If anything more please let me know.

[2017-08-29 04:52] nimati commented on #61
@irshadpc That's interesting. Just so I can get a better idea of what might be going on, do you mind sending over the code you're using to generate the FCAlertView and in which method? (ViewWillLoad, ViewDidAppear, or after?) Thanks!

[2017-08-29 04:52] #60 closed

[2017-09-02 08:17] tvlc opened #63 "Wrong popup height when using attributed subtitle string"
Hi, there is a bug in calculation of popup height when using attributed string as a subtitle, see scrennshots.

<img width="354" alt="popup" src="https://user-images.githubusercontent.com/4703691/29994087-c1613134-8fc7-11e7-9e98-724d4da07729.png">

<img width="517" alt="attrstring" src="https://user-images.githubusercontent.com/4703691/29994091-cde4caa6-8fc7-11e7-91de-7505979e4b80.png">

Atributes

[2017-09-07 17:45] nimati commented on #63
Hey @tvlc, Thanks for using FCAlertView. Will look into this. @digitalcatnip Would you mind taking a look at what might be causing this. Thanks!

[2017-09-13 06:56] noname004 opened #64 "Is a issues？"
When ues  [customField becomeFirstResponder] then textfield is covered by the keyboard(iphone 5s). I hope  customField can be first responder when it show, and how? ths.

[2017-09-18 10:57] vinayakpal opened #65 "How to increase the height of TextField?"
I want to customize the textfield inside our alert,where height of the text field to be increase if text field first line are totally full so we can able to see entire text in out text field

[2017-09-18 12:13] vinayakpal opened #66 "How to create an instance of the alert action button?"
I need to create an instance of the action buttons as i eant to validate the button action with some conditon in selection and deselection

[2017-09-28 07:44] cocoaniu opened #67 "iOS11:- (void)drawRect:(CGRect)rect does not perform"
iOS11:- (void)drawRect:(CGRect)rect does not perform，alertview can't show。

[2017-09-28 07:45] cocoaniu commented on #61
iOS11:- (void)drawRect:(CGRect)rect does not perform @nimati

[2017-09-28 09:05] cocoaniu commented on #61
Replace“     [window addSubview:self];
    [window bringSubviewToFront:self];” with“    [[[UIApplication sharedApplication].windows objectAtIndex:0] endEditing:YES];
    [[[UIApplication sharedApplication].windows objectAtIndex:0] addSubview:self];”

[2017-09-28 09:05] cocoaniu commented on #67
Replace“     [window addSubview:self];
    [window bringSubviewToFront:self];” with“    [[[UIApplication sharedApplication].windows objectAtIndex:0] endEditing:YES];
    [[[UIApplication sharedApplication].windows objectAtIndex:0] addSubview:self];”

[2017-10-15 17:31] digitalcatnip commented on #63
Sorry, just saw this - I will take a look when I have a chance!

[2017-10-16 02:29] fatenumber2 commented on #67
Thank you very much!!

[2017-10-23 13:11] nitishrana28 commented on #62
Seems to be an enhancement. I require this too.

[2017-11-09 09:20] malhaar opened #69 "addTextFieldWithCustomTextField causing crash"
When adding a custom textfield with only one property secureTextEntry, causing crash.

"*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[UIInputWindowController selectedViewController]: unrecognized selector sent to instance 0x10a8e3200'"

[2017-11-09 09:58] malhaar commented on #69
My orientation management code was conflicting. so can be treated as invalid defect.

[2017-11-09 09:58] #69 closed

[2017-11-15 11:43] CivicFan opened #70 "TextField being covered by inputAccessoryView"
Hi,
when a textfield is added to the alert view and it becomes the first responder, the keyboard appears.
When moving alert view up, you're not taking into consideration if the textfield has an inputAccessoryView. You should move the alert view adding also the height of this view.

Davide

[2017-12-06 10:02] trungnguyen1791 commented on #49
@nimati Did you get any news about this? I wanna to make the message content scrollable :D

[2017-12-10 18:33] nimati commented on #64
Hi @noname004. Thanks for using FCAlertView! Can you please paste the code you're using to generate the custom Field and showing it? Thanks!

[2017-12-20 19:48] kkristof200 commented on #44
For the orientation change this should be ok. Similar to @Bejil's solution, but shorter.

Add to your init method:
[code]
And add these 2 methods:
[code]
[code]

[2017-12-26 16:59] tvlc commented on #63
Any progress? See three dots added at the end of the string, when the string has been truncated and missing last line of the attributed text

[2018-03-17 21:19] tvlc commented on #63
@digitalcatnip Have you already a chance to look at it?

[2018-06-17 08:23] tvlc commented on #63
I found a bug in implementation of drawRect method - it does not properly calculate the bounding box size for attributed subtitle.
Proposal for solution:
[code]

[2018-08-07 11:35] anglepro opened #74 "uitextfield is missing when popping out the uitextfield click confirmation button in the popup view."
uitextfield is missing when popping out the uitextfield click confirmation button in the popup view.

[2018-08-23 06:25] ThakarRajesh commented on #44
i have implement in @kkristof200 given two method but my landscape  and portrait issue not resolved
![img_0086](https://user-images.githubusercontent.com/14832892/44508297-6e114e80-a6cb-11e8-881a-f5ce6facd8f8.PNG)
![img_0088](https://user-images.githubusercontent.com/14832892/44508298-6ea9e500-a6cb-11e8-9a5a-8f4cec05e8db.PNG)

[2018-09-06 23:55] cdeck95 commented on #51
How can you do this (in swift) but get the text from *all* text fields when the done button is clicked? I am trying to implement `FCAlertDoneButtonClicked(alertView: FCAlertView)` but I am unsure how to get the text field values.

[2018-09-16 22:06] cdeck95 opened #75 "fcAlertDoneButtonClicked method will never execute"
I cannot figure out why xcode is telling me this will not execute. I am extending FCAlertViewDelegate.

Code below:

[code]

[2018-09-22 01:27] cdeck95 commented on #75
Is anyone maintaining this anymore? Seems like this would be a simple fix and could really use some guidance.

[2018-09-22 01:41] cdeck95 commented on #75
Found the error. It was some swift compiler error thinking i was in the middle of a different method after I commented it out. Weird bug. Not on you guys though!

[2018-09-22 01:41] #75 closed

[2018-10-23 12:53] Mathieuuesas opened #76 "showAlertView and dismissAlertView take a lot of time (more than 5 secs)"
Hi,

Do you know why showAlertView and dismissAlertView take a lot of time ?
I checked my, seems to be fine but it take to much time :

[code]

[2019-07-11 14:22] SwarajMeetIOSDeveloper opened #78 "colorScheme Gradient color"
I am trying to give gradient color to colorScheme
can anyone help

[2019-07-24 11:23] VinothVKumar opened #79 "Hyperlink"
Is there any kind of feature for detecting hyperlinks inside the alertview. I just made a word inside the alert subtitle hyperlink using the attributed method but the touch event is not recognizing. If there is any solution, please reply ASAP.

[2019-07-29 02:00] nimati commented on #79
Hi @VinothVKumar

Please try using attributed strings to include links. FCAlertView allows you to use attributed string. Please refer to [this section of the readme](https://github.com/nimati/FCAlertView#extra-customizations). Here's an example:

`NSMutableAttributedString` * str = [[NSMutableAttributedString alloc] initWithString:@"Google"];
[str addAttribute: NSLinkAttributeName value: @"http://

[2019-07-29 02:01] #79 closed

[2019-09-24 09:35] LinusGeffarth commented on #47
@nimati any news on this?

[2019-10-01 22:36] nimati commented on #47
@LinusGeffarth working on it

[2020-04-14 20:11] sidan5 opened #80 "Support dark mode"
Currently it does not support dark mode. Text could not be seen.

[2020-04-14 20:39] sidan5 commented on #80
Can be easily solved with that code:

[code]

[2020-04-14 20:39] #80 closed

[2020-04-15 22:12] nimati commented on #80
@sidan5 Great workaround! I will look into properly implementing the iOS Dark Mode to enable Alert's Dark Mode by default.

[2020-04-16 04:46] nimati commented on #76
Hi @Mathieuuesas, not sure exactly what's wrong here but I gave it a try on my end with the following code to run the alert and it worked instantly:

[code]

[2020-04-16 04:46] #76 closed

[2020-04-16 05:28] nimati commented on #78
@SwarajMeetIOSDeveloper Currently, there's no way to do this but adding it to list of features.

[2020-04-16 05:29] nimati commented on #74
Not sure what you mean exactly about the UITextField missing, but feel free to provide your code here so I can take a closer look, thanks!

[2020-04-16 05:29] #74 closed

[2020-04-16 05:31] nimati commented on #70
Hi @CivicFan, good catch. I'll look into this.

[2020-04-16 05:32] #67 closed

[2020-04-16 05:32] sidan5 commented on #80
@nimati Cool. Thanks!

[2020-04-16 05:34] nimati commented on #66
@vinayakpal I see - will add to list of features to work on

[2020-04-16 05:37] #64 closed

[2020-04-16 05:38] #61 closed

[2020-04-16 05:39] nimati commented on #65
I believe you want a UITextView as well? #49

[2020-04-16 05:39] #65 closed

[2020-06-22 11:32] mbhansali opened #81 "FCAlertView message comes blank on iOS version 13.5.1 (Latest Version)"
FCAlertView message comes blank on latest version of iOS i.e. 13.5.1.
![imgpsh_fullsize_anim](https://user-images.githubusercontent.com/52447850/85282959-31226880-b4aa-11ea-9028-d82ac32a8784.jpeg)

[2020-06-22 18:09] nimati commented on #81
Hi, this is a known issue with FCAlertView’s interaction with Dark Mode. I’ll be updating the library soon to fix this but in the meantime, try disabling Dark Mode from your app if you’re not using it: https://medium.com/@akshay.s.somkuwar/disable-dark-mode-in-ios-13-for-your-ios-app-c025b446d87b

[2020-06-22 18:09] #81 closed

[2020-06-22 18:33] mbhansali commented on #81
Hello,

Thanks for the reply. But for that we need to upload a new build right ?
Any other way without uploading a new build.

On Mon, Jun 22, 2020 at 11:39 PM Nima Tahami <notifications@github.com>
wrote:

--

Thanks & Regards,
Mayur Bhansali

Bharatiya Jain Sanghatana
Muttha Chambers II, Level III, Senapati Bapat Marg

Pune-411016, Maharashtra

Tel: 02066050220 Ext 626

[2020-06-22 19:13] nimati commented on #81
@mbhansali Unfortunately not. Even if the FCAlertView library update is released today, you'd still need to update the POD/library and re-build your application to see the new changes. The easiest workaround right now would be to disable dark mode for your app (if it's not required). That'd also require you to re-build your app.

[2020-06-22 19:23] mbhansali commented on #81
Thanks.
When will the latest release come out for the same?

On Tue, Jun 23, 2020 at 12:43 AM Nima Tahami <notifications@github.com>
wrote:

--

Thanks & Regards,
Mayur Bhansali

Bharatiya Jain Sanghatana
Muttha Chambers II, Level III, Senapati Bapat Marg

Pune-411016, Maharashtra

Tel: 02066050220 Ext 626

[2020-06-26 21:23] nimati commented on #81
In the coming weeks :) No worries!

[2021-09-24 08:26] Ucdemir commented on #59
alert.doneButtonCustomFont works on ios 14
but not work on ios 12.4